@charset "utf-8";

.g-color-error {
    color: #f55 !important;
}

.g-color-warning {
    color: #f55 !important;
}

.g-color-highlight {
    color: #0084bb !important;
}

.g-color-require {
    color: #f55 !important;
}

.g-color-memo {
    color: #ccc !important;
}

.g-icon-start {
    color: #58b359;
}

.g-icon-pause {
    color: #333;
}

.qta-auth {
    display: none;
}
