@charset "utf-8";

.l-form {
    margin-bottom: 20px;
}

.l-form-row {
    font-size: 0;
    margin-bottom: 5px;
    padding: 5px 10px 5px 135px;
}

.l-form-label {
    @include inline-block();
    font-size: 12px;
    margin-left: -135px;
    padding: 4px 10px 4px 0;
    text-align: right;
    vertical-align: top;
    width: 125px;
}

.l-form-el {
    @include inline-block();
    font-size: 12px;
    margin-bottom: -5px;
    vertical-align: top;
}

.l-form-el-row {
    margin-bottom: 5px;
}
